<div class="page-header">
  <h1>
    Recipe item states
    <a href="/recipe_item_states/new" class="btn btn-lg btn-success">New Recipe item state</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Recipe</th>
        <th>Item state</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>

      <% @recipe_item_states.each do |recipe_item_state| %>
      <tr>
        <td><%= recipe_item_state.recipe_id %></td>
        <td><%= recipe_item_state.item_state_id %></td>
        <td><%= recipe_item_state.description %></td>
        <td>
          <a href="/recipe_item_states/<%= recipe_item_state.id %>" class="btn btn-primary">Show</a>
          <a href="/recipe_item_states/<%= recipe_item_state.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_recipe_item_state/<%= recipe_item_state.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
