<div class="page-header">
  <h3>Recipe #<%= @recipe.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @recipe.name %></dd>

      <dt>Description</dt>
      <dd><%= @recipe.description %></dd>

      <dt>Url</dt>
      <dd><%= @recipe.url %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/recipes" class="btn btn-primary">
        Back
      </a>
      <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_recipe/<%= @recipe.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Recipe has many recipe_item_states -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recipe Item States
      </li>

      <% @recipe.recipe_item_states.each do |recipe_item_state| %>
        <li class="list-group-item">
          <a href="/recipe_item_states/<%= recipe_item_state.id %>">
            <%= recipe_item_state.recipe_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recipe_item_states/<%= recipe_item_state.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recipe_item_states/<%= recipe_item_state.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recipe_item_state/<%= recipe_item_state.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_recipe_item_state" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for recipe_id -->
      <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">

      <!-- Label and input for item_state_id -->
      <div class="form-group">
        <label for="item_state_id" class="control-label">
          Item state
        </label>

        <%= select_tag(:item_state_id, options_from_collection_for_select(ItemState.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Recipe Item State
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Recipe has many item_states -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Item States
      </li>

      <% @recipe.item_states.each do |item_state| %>
        <li class="list-group-item">
          <a href="/item_states/<%= item_state.id %>">
            <%= item_state.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/item_states/<%= item_state.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/item_states/<%= item_state.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_item_state/<%= item_state.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
