<div class="page-header">
  <h3>State #<%= @state.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @state.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/states" class="btn btn-primary">
        Back
      </a>
      <a href="/states/<%= @state.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_state/<%= @state.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A State has many item_states -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Item States
      </li>

      <% @state.item_states.each do |item_state| %>
        <li class="list-group-item">
          <a href="/item_states/<%= item_state.id %>">
            <%= item_state.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/item_states/<%= item_state.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/item_states/<%= item_state.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_item_state/<%= item_state.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_item_state" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for item_id -->
      <div class="form-group">
        <label for="item_id" class="control-label">
          Item
        </label>

        <%= select_tag(:item_id, options_from_collection_for_select(Item.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for state_id -->
      <input type="hidden" name="state_id" value="<%= @state.id %>">

      <button class="btn btn-block btn-success">
        Create Item State
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A State has many items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Items
      </li>

      <% @state.items.each do |item| %>
        <li class="list-group-item">
          <a href="/items/<%= item.id %>">
            <%= item.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/items/<%= item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/items/<%= item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_item/<%= item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
